<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.gblatestversion.gbversion.gb">
    <!--
    <uses-permission
        android:name="android.permission.ACCESS_COARSE_LOCATION"
        tools:node="remove" />
    <uses-permission
        android:name="android.permission.ACCESS_FINE_LOCATION"
        tools:node="remove" />
    -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <queries>
        <package android:name="com.whatsapp" />
        <package android:name="com.whatsapp.w4b" />
        <package android:name="com.facebook.katana" />
        <package android:name="com.instagram.android" />
        <package android:name="com.twitter.android" />
        <package android:name="org.telegram.messenger" />
    </queries>

    <permission
        android:name="com.gblatestversion.gbversion.gb.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <application
        android:name="com.gblatestversion.gbversion.gb.BaseApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.GB"
        tools:targetApi="31">
        <activity
            android:name="com.gblatestversion.gbversion.gb.Activity.tools.ViewVideoActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.gblatestversion.gbversion.gb.Activity.tools.QRTools.QrScannerActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gblatestversion.gbversion.gb.Activity.tools.QRTools.QrGeneratorActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.gblatestversion.gbversion.gb.Activity.tools.SpeechToTextActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gblatestversion.gbversion.gb.Activity.tools.StatusDownloadActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gblatestversion.gbversion.gb.Activity.tools.RecentStatusActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gblatestversion.gbversion.gb.Activity.tools.WhatCleanerActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gblatestversion.gbversion.gb.Activity.tools.WhatWebActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gblatestversion.gbversion.gb.Activity.tools.CleanWallActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gblatestversion.gbversion.gb.Activity.tools.CleanDataActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gblatestversion.gbversion.gb.Activity.tools.ViewImageActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gblatestversion.gbversion.gb.Activity.tools.TextTools.TextRepeaterActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gblatestversion.gbversion.gb.Activity.tools.TextTools.TextMagicActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gblatestversion.gbversion.gb.Activity.tools.TextTools.TextEmojiActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gblatestversion.gbversion.gb.Activity.tools.TextTools.MirriorActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gblatestversion.gbversion.gb.Activity.tools.TextTools.NumericListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gblatestversion.gbversion.gb.Activity.tools.TextTools.NumberStyleDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gblatestversion.gbversion.gb.Activity.tools.TextTools.NameTextListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gblatestversion.gbversion.gb.Activity.tools.TextTools.NameStyleDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gblatestversion.gbversion.gb.Activity.tools.StoryActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gblatestversion.gbversion.gb.Activity.tools.PrankTools.FakeStoryActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gblatestversion.gbversion.gb.Activity.tools.PrankTools.FakeProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gblatestversion.gbversion.gb.Activity.tools.DirectChatActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gblatestversion.gbversion.gb.Activity.tools.EmoticonActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gblatestversion.gbversion.gb.Activity.tools.BlankMsgActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gblatestversion.gbversion.gb.WhatsappSticker.StickerPackListActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gblatestversion.gbversion.gb.WhatsappSticker.StickerPackDetailsActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gblatestversion.gbversion.gb.WhatsappSticker.StickerPackInfoActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gblatestversion.gbversion.gb.Activity.PrankToolOptionActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.gblatestversion.gbversion.gb.Activity.TextEffectOptionActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.gblatestversion.gbversion.gb.Activity.ChatToolOptionActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.gblatestversion.gbversion.gb.Activity.ScanningOptionsActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.gblatestversion.gbversion.gb.Activity.tools.QRTools.StartQrScannerActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.gblatestversion.gbversion.gb.Activity.tools.AutoReplyActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.gblatestversion.gbversion.gb.Activity.DownloadOptionsActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.gblatestversion.gbversion.gb.Activity.StartActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.gblatestversion.gbversion.gb.Activity.MainActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.gblatestversion.gbversion.gb.Activity.DPCreatorActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.gblatestversion.gbversion.gb.Activity.DPGenratorActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.gblatestversion.gbversion.gb.Activity.IntroActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.gblatestversion.gbversion.gb.Activity.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.gblatestversion.gbversion.gb.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
        <provider
            android:name="com.gblatestversion.gbversion.gb.WhatsappSticker.StickerContentProvider"
            android:authorities="${contentProviderAuthority}"
            android:enabled="true"
            android:exported="true"
            android:readPermission="com.whatsapp.sticker.READ" />
    </application>

</manifest>